Repository SOPT-all/36-COLLABORATION-ANDROID-UBER, pull requests merged in 2025-05, with the labels that each got.

#6 [ADD/#4] Theme-setting
  app/src/main/java/com/sopt/at/uber/core/designsystem/ui/theme/Color.kt
  app/src/main/java/com/sopt/at/uber/core/designsystem/ui/theme/Theme.kt
  app/src/main/java/com/sopt/at/uber/core/designsystem/ui/theme/Type.kt
  app/src/main/res/font/suit_bold.ttf
  app/src/main/res/font/suit_extrabold.ttf
  app/src/main/res/font/suit_extralight.ttf
  app/src/main/res/font/suit_heavy.ttf
  app/src/main/res/font/suit_light.ttf
  app/src/main/res/font/suit_medium.ttf
  app/src/main/res/font/suit_regular.ttf
  app/src/main/res/font/suit_semibold.ttf
  app/src/main/res/font/suit_thin.ttf
Labels: ➕ [ADD], 🐰 시현

#8 [Setting/#5] hilt세팅 및 dummy 추가
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/at/uber/UberApplication.kt
  app/src/main/java/com/sopt/at/uber/data/datasource/DummyUberDataSource.kt
  app/src/main/java/com/sopt/at/uber/data/datasourceimpl/DummyUberDataSourceImpl.kt
  app/src/main/java/com/sopt/at/uber/data/di/ApiModule.kt
  app/src/main/java/com/sopt/at/uber/data/di/NetworkModule.kt
  app/src/main/java/com/sopt/at/uber/data/di/RepositoryModule.kt
  app/src/main/java/com/sopt/at/uber/data/dto/base/DummyBaseResponse.kt
  app/src/main/java/com/sopt/at/uber/data/dto/request/DummyServiceRequest.kt
  app/src/main/java/com/sopt/at/uber/data/dto/response/DummyServiceResponse.kt
  app/src/main/java/com/sopt/at/uber/data/mapper/DummyServiceMapper.kt
  app/src/main/java/com/sopt/at/uber/data/repositoryimpl/DummyUberRepositoryImpl.kt
  app/src/main/java/com/sopt/at/uber/data/service/DummyUberService.kt
  app/src/main/java/com/sopt/at/uber/domain/model/DummyServiceModel.kt
  app/src/main/java/com/sopt/at/uber/domain/model/DummyServiceResultModel.kt
  app/src/main/java/com/sopt/at/uber/domain/repository/DummyUberRepository.kt
  app/src/main/java/com/sopt/at/uber/feature/dummy/DummyScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/dummy/DummyState.kt
  app/src/main/java/com/sopt/at/uber/feature/dummy/viewmodel/DummyViewModel.kt
  app/src/main/java/com/sopt/at/uber/feature/main/MainActivity.kt
  app/src/main/java/com/sopt/at/uber/feature/main/component/MainBottomBar.kt
Labels: ⚙️ [SETTING], 🐥 지현

#12 [FEAT/#11] 예약 안내 뷰 & 지역 선택 뷰
  app/src/main/java/com/sopt/at/uber/core/component/CustomCarItem.kt
  app/src/main/java/com/sopt/at/uber/core/designsystem/ui/theme/Type.kt
  app/src/main/java/com/sopt/at/uber/core/type/CustomCarType.kt
  app/src/main/java/com/sopt/at/uber/core/type/ReservationNoticeType.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/LocationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/component/CurrentSearchHeader.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/component/CurrentSearchItem.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/component/LocationTextField.kt
  app/src/main/java/com/sopt/at/uber/feature/service/reservation/ReservationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/reservation/component/ReservationLocationButton.kt
  app/src/main/java/com/sopt/at/uber/feature/service/reservation/component/ReservationNoticeItem.kt
  app/src/main/java/com/sopt/at/uber/feature/service/reservation/component/ReservationTopBar.kt
  app/src/main/res/drawable/ic_airplane.xml
  app/src/main/res/drawable/ic_baby.xml
  app/src/main/res/drawable/ic_calendar.xml
  app/src/main/res/drawable/ic_current.xml
  app/src/main/res/drawable/ic_current_delete.xml
  app/src/main/res/drawable/ic_delete.xml
  app/src/main/res/drawable/ic_departures.xml
  app/src/main/res/drawable/ic_destination.xml
  app/src/main/res/drawable/ic_foreigner.xml
  app/src/main/res/drawable/ic_left_arrow.xml
  app/src/main/res/drawable/ic_long_way.xml
  app/src/main/res/drawable/ic_sandclock.xml
  app/src/main/res/drawable/ic_wallet.xml
  app/src/main/res/values/strings.xml
Labels: 🍒 [FEAT], 🍥 [UI], 🐥 지현

#19 [Feat/#15] 차량 선택 API 연동
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/at/uber/data/datasource/VehicleDataSource.kt
  app/src/main/java/com/sopt/at/uber/data/datasourceimpl/VehicleDataSourceImpl.kt
  app/src/main/java/com/sopt/at/uber/data/di/ApiModule.kt
  app/src/main/java/com/sopt/at/uber/data/di/RepositoryModule.kt
  app/src/main/java/com/sopt/at/uber/data/dto/base/BaseResponse.kt
  app/src/main/java/com/sopt/at/uber/data/dto/response/TaxiInfoResponse.kt
  app/src/main/java/com/sopt/at/uber/data/dto/response/VehicleResponse.kt
  app/src/main/java/com/sopt/at/uber/data/mapper/TaxiInfoMapper.kt
  app/src/main/java/com/sopt/at/uber/data/mapper/VehicleMapper.kt
  app/src/main/java/com/sopt/at/uber/data/repositoryimpl/VehicleRepositoryImpl.kt
  app/src/main/java/com/sopt/at/uber/data/service/VehicleService.kt
  app/src/main/java/com/sopt/at/uber/domain/model/TaxiInfoModel.kt
  app/src/main/java/com/sopt/at/uber/domain/model/VehicleModel.kt
  app/src/main/java/com/sopt/at/uber/domain/repository/VehicleRepository.kt
  app/src/main/java/com/sopt/at/uber/feature/main/MainNavHost.kt
  app/src/main/java/com/sopt/at/uber/feature/service/ServiceSharedViewModel.kt
  app/src/main/java/com/sopt/at/uber/feature/service/information/InformationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/information/component/CustomPriceInfo.kt
  app/src/main/java/com/sopt/at/uber/feature/service/information/navigation/InformationNavigation.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/AirportTaxiType.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/BasicTaxiType.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/SelectTaxi.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/VehicleScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/VehicleViewModel.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/component/TaxiSelectionList.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/component/UberDiscountCoupon.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/navigation/VehicleNavigation.kt
  app/src/main/res/drawable/img_taxi_basic.png
  app/src/main/res/values/strings.xml
Labels: 🍒 [FEAT], 🌎 서버 통신, 🦊 종훈

#21 [Feat/#20] 검색 API 연결
  app/src/main/java/com/sopt/at/uber/core/type/LocationFieldType.kt
  app/src/main/java/com/sopt/at/uber/core/util/ErrorUtils.kt
  app/src/main/java/com/sopt/at/uber/core/util/ToastExt.kt
  app/src/main/java/com/sopt/at/uber/data/datasource/LocationDataSource.kt
  app/src/main/java/com/sopt/at/uber/data/datasourceimpl/LocationDataSourceImpl.kt
  app/src/main/java/com/sopt/at/uber/data/di/ApiModule.kt
  app/src/main/java/com/sopt/at/uber/data/di/DataSourceModule.kt
  app/src/main/java/com/sopt/at/uber/data/di/RepositoryModule.kt
  app/src/main/java/com/sopt/at/uber/data/dto/request/PostLocationRequest.kt
  app/src/main/java/com/sopt/at/uber/data/dto/response/SearchKeywordListResponse.kt
  app/src/main/java/com/sopt/at/uber/data/dto/response/SearchKeywordResponse.kt
  app/src/main/java/com/sopt/at/uber/data/mapper/SearchKeywordListMapper.kt
  app/src/main/java/com/sopt/at/uber/data/repositoryimpl/LocationRepositoryImpl.kt
  app/src/main/java/com/sopt/at/uber/data/service/LocationService.kt
  app/src/main/java/com/sopt/at/uber/domain/model/SearchKeywordListModel.kt
  app/src/main/java/com/sopt/at/uber/domain/model/SearchKeywordModel.kt
  app/src/main/java/com/sopt/at/uber/domain/repository/LocationRepository.kt
  app/src/main/java/com/sopt/at/uber/feature/main/MainNavHost.kt
  app/src/main/java/com/sopt/at/uber/feature/service/ServiceSharedViewModel.kt
  app/src/main/java/com/sopt/at/uber/feature/service/information/InformationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/LocationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/LocationState.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/component/CurrentSearchHeader.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/component/LocationTextField.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/navigation/LocationNavigation.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/viewmodel/LocationViewModel.kt
Labels: 🍒 [FEAT], 🍥 [UI], 🐥 지현

#23 [FEAT/#22] search deleteall api 연동
  app/src/main/java/com/sopt/at/uber/data/datasource/LocationDataSource.kt
  app/src/main/java/com/sopt/at/uber/data/datasourceimpl/LocationDataSourceImpl.kt
  app/src/main/java/com/sopt/at/uber/data/repositoryimpl/LocationRepositoryImpl.kt
  app/src/main/java/com/sopt/at/uber/data/service/LocationService.kt
  app/src/main/java/com/sopt/at/uber/domain/repository/LocationRepository.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/LocationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/location/viewmodel/LocationViewModel.kt
Labels: 🍒 [FEAT], 🌎 서버 통신, 🐰 시현

#25 [Feat/#24] 픽업 시간 UI 반영
  app/src/main/java/com/sopt/at/uber/core/util/TImeData.kt
  app/src/main/java/com/sopt/at/uber/core/util/TimeInfoFormatter.kt
  app/src/main/java/com/sopt/at/uber/data/datasource/DummyUberDataSource.kt
  app/src/main/java/com/sopt/at/uber/data/datasourceimpl/DummyUberDataSourceImpl.kt
  app/src/main/java/com/sopt/at/uber/data/di/ApiModule.kt
  app/src/main/java/com/sopt/at/uber/data/di/RepositoryModule.kt
  app/src/main/java/com/sopt/at/uber/data/mapper/DummyServiceMapper.kt
  app/src/main/java/com/sopt/at/uber/data/repositoryimpl/DummyUberRepositoryImpl.kt
  app/src/main/java/com/sopt/at/uber/data/service/DummyUberService.kt
  app/src/main/java/com/sopt/at/uber/domain/model/DummyServiceModel.kt
  app/src/main/java/com/sopt/at/uber/domain/model/DummyServiceResultModel.kt
  app/src/main/java/com/sopt/at/uber/domain/repository/DummyUberRepository.kt
  app/src/main/java/com/sopt/at/uber/feature/dummy/DummyScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/dummy/DummyState.kt
  app/src/main/java/com/sopt/at/uber/feature/dummy/viewmodel/DummyViewModel.kt
  app/src/main/java/com/sopt/at/uber/feature/main/MainNavHost.kt
  app/src/main/java/com/sopt/at/uber/feature/service/ServiceSharedViewModel.kt
  app/src/main/java/com/sopt/at/uber/feature/service/history/HistoryScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/information/InformationScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/time/TimeScreen.kt
  app/src/main/java/com/sopt/at/uber/feature/service/time/navigation/TimeNavigation.kt
  app/src/main/java/com/sopt/at/uber/feature/service/vehicle/VehicleScreen.kt
  app/src/main/res/drawable/img_history_taxi.png
  app/src/main/res/values/strings.xml
Labels: 🍒 [FEAT], 🍥 [UI], 🦊 종훈
